/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  color: #000000;
}


/*HEADER*/
.top-site{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

.menu img{
    width: 10%;
    margin: 10px;
    float: right;
}

.title {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px ;
}

.capa img{
    object-fit: cover;
    max-height: 450px;
    width: 100%;
}

header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/*INFO*/
.banner {
  padding-left: 140px;
  padding-top: 70px;
  padding-right: 140px;
  padding-bottom: 100px;
}

.banner h2 {
  color: #000000;
  font-size: 40px;
  margin-bottom: 40px;
}

.descricao {
  max-width: 1000px;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 25px;
  color: #333;
  text-align: left;
}

.info{
    display: flex;
    justify-content: space-between;
}

.cartão img{
    object-fit: cover;
    width: 60%;
    float: right;
}



/*PRÉ REQUISITOS*/
.requisitos {
  background: #0077b6;
  padding-left: 140px;
  padding-top: 70px;
  padding-right: 140px;
  padding-bottom: 100px;
  margin-top: 160px;
}

.requisitos h3 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.lista {
  margin-top: 50px;
  color: white;
  line-height: 25px;
  width: 50%;
  font-size: 25px;
}

.lista p{
  margin-bottom: 40px;
  font-weight: bold;
}

.requisitos_info{
  display: flex;
  justify-content: space-between;
}

.area_metropolitana img{
  object-fit: cover;
  max-height: 300px;
}

/*FORMULÁRIO*/
.formulario {
    background-color: #ffdd00ed;
    margin: 70px 140px;
    padding: 50px 80px;
    border-radius: 30px;
}

.chave_movel{
    object-fit: cover;
    height: 40px;
    padding: 5px 25px;
    background-color: #3C5DBC;
    margin-bottom: 20px;
    border-radius: 50px;
}

.input-element{
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0);
    background-color: #fff8cb;
    color: #a8a488;
}

.input-element1{
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0);
    background-color: #fff8cb;
    color: #a8a488;
}

.morada{
  display: flex;
}
  
.button{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 70px;  
    width: 15%;
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0);
    background-color: #ff981a;
    color: #ffffff;
    float: right;
}


/*MOBILE*/

@media all and (max-width:480px){
  .menu img{
    width: 20%;
  }

  .banner , .requisitos , .formulario{
      padding-left: 20px;
      padding-right: 20px;
  }

  .formulario{
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 30px;
      padding-bottom: 80px;
  }
  .banner h2{
      font-size: 30px;
  }
  .info , .requisitos_info{
      display: block;
  }
  .lista {
    width: 100%;
  }

  .cartão img{
      width: 100%;
  }
  .cartão{
      margin-bottom: 90px;
  }

  .lista p{
      font-size: 20px;
  }

  .morada{
    display: block;
  }

  .button{
    width: 30%;
    float: left;
    margin-bottom: 20px;
  }
}